In [1]:
from scipy import stats as st
import scipy.stats as stats
import pandas as pd
import numpy as np
import math 
import matplotlib.pyplot as plt
import seaborn as sns
import re
pd.options.display.float_format = '{:,.1f}'.format

In [2]:
sales = pd.read_excel('C:/Users/Sergei/2020_portfolio_projects/sales_ToShare.xlsx', sheet_name = 'Продажи')

In [3]:
remains = pd.read_excel('C:/Users/Sergei/2020_portfolio_projects/remains_ToShare.xlsx')

In [4]:
sales.head(3)

      Артикул старый Размер  Месяц  Продажи, шт.
0  02025727Y052D0/55     XS      9            88
1  02025727Y052D0/55      S      6           128
2  020245D5Z022/55D0      M      7            83

In [5]:
remains.head(3)

,Артикул новый,Размер,"Остаток на складе, шт.","Себестоимость, руб.","Цена продажи, руб."
0,010112159012 0100 ...,M,118,1211,2846
1,010112159052 01P0 ...,L,247,465,1311
2,010112159052 01P0 ...,M,134,763,1564

In [6]:
def fix_index(row):
    old_code = row['Артикул старый']
    split_code =  old_code.split('/')
    if len(split_code[0]) == 12:
        new_code = (split_code[0] + split_code[1])
        return new_code
    if len(split_code[0]) == 14:
        new_code = (''.join(list(split_code[0])[0:12]) + split_code[1] + ''.join(list(split_code[0])[12:14]))
        return new_code
    if len(split_code[0]) == 16:
        new_code = split_code[0]
        return new_code    
    else:
        return old_code

In [7]:
sales['new_code'] = sales.apply(fix_index, axis = 1)

In [8]:
sales.sample(5)

          Артикул старый Размер  Месяц  Продажи, шт.          new_code
612    22024729Z011/51D0      M      7           125  22024729Z01151D0
58101  210263295083M1/35      S      9           109  21026329508335M1
42606  010257S2301200/69      S      6            82  010257S230126900
43894  01025227W033S0/51     XL      6            81  01025227W03351S0
3411   21025321U44300/58      S      8            48  21025321U4435800

In [9]:
# def len_code(row):
#     lentgh = len(row['new_code'])
#     return lentgh

# sales['code_size'] = sales.apply(len_code, axis = 1)